

body {
    font-family:sans-serif, Arial;
}

p, span{
    color: darkslategrey;
}

.skin-active-input{
    color: darkslategrey;
    background: antiquewhite;
    border: none;
}
.skin-active{

    color: antiquewhite;
    background: dimgrey;
    text-decoration: none;
    padding: 0.3em;
    border: none;
    cursor:pointer;
}

.skin-inactive{
    background-color: antiquewhite;
    padding: 0.2em;
}

.skin-active-description-textarea{
    color: darkslategrey;
    background: antiquewhite;
    border: none;
    font-family: inherit;
}


.skin-notestitle h1{
    background-color: antiquewhite;
}

/*checked and label*/
.skin-control-bar-item:checked + .skin-active
{
    background-color:gainsboro;
    color: darkgoldenrod;
}


.skin-sort-item {
    padding-right: 0.2em;
}


/*draw line after each item*/
.skin-item-header {
    border-top: solid dimgrey 0.01em;

}

/*create background*/
.skin-checkbox-background{

    background: antiquewhite;

}
