

body {
    font-family:sans-serif, Arial;
}

p, span{
    color: dimgrey;
}

.style-choice select{
    background:lightblue;
}

.skin-active-input,
.skin-active{
    border: lightblue solid 0.1em ;
    border-radius: 0.2em;

    color: dimgrey;
    background: white;
    text-decoration: none;
    padding: 0.2em;

    cursor:pointer;
}

.skin-inactive{
    border: lightgrey solid 0.1em ;
    border-radius: 0.2em;

    padding: 0.2em;
}

.skin-active-description-textarea{
    border: lightblue solid 0.1em ;
    border-radius: 0.2em;

    color: dimgrey;
    background: white;
    text-decoration: none;
    /*necessary to have proper em*/
   /* font-family: inherit;*/
    padding: 0.2em;

    cursor:pointer;

}

.skin-notestitle h1{
    background-color: lightblue;
}

/*checked and label*/
.skin-control-bar-item:checked + .skin-active
{
    background-color:lightblue;
    color: dimgrey;
}


.skin-sort-item {
    padding: 0;
}


/*draw line after each item*/
.skin-item-header {
    border-top: solid aliceblue 0.1em;

}

/*create background - that is individual style*/
.skin-checkbox-background{

    background: lightcyan;
    border: lightblue solid 1px;
    border-radius: 3px;
}